/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .ranking_logo {
  width: 400px; /* 幅を調整する値に変更 */
  height: auto; /* 高さはアスペクト比を保持して自動調整 */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center; /* 垂直方向の中央寄せも希望する場合 */
  height: 100vh; /* 画面の高さいっぱいにコンテナを広げる */
}
