/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgba(245, 245, 220, 0.654);
  background-image: url('assets/23950411.jpg'); /* ヘッダーの背景画像 */
}

.ranking_logo {
  width: 400px; /* 幅を調整する値に変更 */
  height: auto; /* 高さはアスペクト比を保持して自動調整 */
}

.centered-container {
  display: flex;
  justify-content: space-between; /* 要素間のスペースを最大化 */
  align-items: flex-start;/* 画面の高さいっぱいにコンテナを広げる */
}

#header {
    background-color: #f7f7f700; /* 背景色（画像が読み込めない場合のフォールバック） */
    background-size: cover; /* 画像をヘッダーに合わせてカバー */
    background-size: 50%;
    /* text-align: center; ヘッダーのテキストを中央揃え */
    padding: 20px; /* ヘッダーの余白 */
    color: white; /* 文字の色を白に */
    height: 70px; /* ヘッダーの高さを設定 */
}
.logo img {
  width: 200px; /* 幅を200pxに設定 */
  height: auto; /* 高さを自動調整 */
  border-radius: 10px; /* 画像の角を丸くする */
  /* 他のスタイルを追加できます */
}
#header a.logo {
  text-decoration: none; /* アンダーラインを非表示にする */
  display: inline-block; 
  transition: background-color 0.3s, opacity 0.3s; 
}
#header a.logo:hover {
  background-color: transparent; /* 背景を透明にする */
  opacity: 0.6;
}