// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  padding: 0;
  margin: 0;
}

p{
  margin: 10px;
}
select {
  margin-bottom: 20px;
}
#container {
  display: flex;
  flex-direction: row
}

.index-title {
  margin-left: 20px;
}
.graf {
  display: flex;
  align-items: center;
  margin: 5px;
}

.menu-link {
  padding: 0 6px;
  margin-right: 5px;
  color: #404040;
  text-align: right;
  width: 15%;
}

.graf-bar-bg {
  flex: 1;
  display: flex;
  align-items: center;
  width: 70%;
  height: 30px;
  background: #ffffff00;
}

.graf-bar {
  display: flex;
  justify-content: center;
  background: #f97d0194;
}

.graf-bar span{
  color: #0c0b0b;
  padding: 0 1px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap; /* メニューアイテムが折り返される */
}

.menu-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px; /* 下方向の間隔を追加 */
  /* 他のスタイルも追加できます */
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item input[type="radio"] {
  margin-right: 1px;
}

.index_category {
  width: 100px;
  text-align: center;
}
.index_prefecture {
  width: 100px;
  text-align: center;
}

.index-vote-count {
  width: 100px;
  text-align: center;
}


@media (max-width: 480px) {
  .menu-item {
    width: 40%; 
  }
}

#list {
  flex: 2; /* 残りのスペースを占める */
  padding: 20px; /* 余白 */
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央寄せ */
}
#list td {
  font-size: 15px;
  padding: 3px;
}
.index_prefecture td {
  width: 80px;
}
#map {
  flex: 1; /* 横幅の2倍のスペースを占める */
  height: 600px;
  width: 100%; /* 地図の横幅を100%に */
  margin-left: 20px;
  margin-top: 50px;
}

#form-container {
  position: absolute;
  top: 10px; /* Adjust the distance from the top of the map */
  left: 10px; /* Adjust the distance from the left of the map */
  z-index: 1000; /* Make sure the form is displayed above the map */
  /* Additional styling for the form container */
}
.shop_name a:hover {
  background-color: rgba(254, 191, 2, 0.665);
}
.show-map {
  margin: 0 auto;

}

.show-shop-list {
  padding-left: 20px;
}
.show-shop-list p {
  font-size: 16px;
}
.shop-show-title {
  padding-left: 20px;
  
}

.custom-header {
  background-color: #805d13; /* ヘッダーの背景色 */
  color: #ffffff; /* ヘッダーの文字色 */
  height: 40px; /* 適宜高さを調整 */
}


.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #d9e4f0;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.page-item li {
  background: #696969;
  background: #696969;
  border: 1px solid #000; 
}

.centered-pagination-and-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination a {
  color: rgb(240, 144, 19);
}

.index-new-shop-button, .index-category-button {
  
  padding: 5px 2px;
  display: inline-block;
}

.index-new-shop-button a, .index-category-button a {
  padding: 2px 5px;
  border-radius: 4px;
  color: #617b01;
  border: 2px solid #617b01;
}
#pagination .generic  {
  background-color: rgb(240, 144, 19);
}

.rank-image {
  width: 30px; /* 画像の幅 */
  height: 30px; /* 画像の高さ */
  margin-right: 5px; /* 画像とテキストの間隔 */
  vertical-align: middle; /* 画像をテキストの中央に配置 */
}

.ranking_logo {
  width: 500px; /* 幅を調整する値に変更 */
  height: auto; /* 高さはアスペクト比を保持して自動調整 */
}

.data-name {
  font-size: large;
  vertical-align: middle;
}

.back-link-text {
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.delete-button {
  background-color: rgba(217, 0, 0, 0.756); /* 背景色を赤に設定 */
  color: white; /* テキスト色を白に設定 */
  border: none; /* ボーダーを削除 */
  padding: 5px 10px; /* パディングを追加してボタンを見栄えよくする */
  cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
  border-radius: 4px; /* ボタンの角を丸くする */
}

/* オプション: ボタンにホバー時のスタイルを追加 */
.delete-button:hover {
  background-color: darkred; /* ホバー時の背景色を変更 */
}