<%= form_with(model: vote) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2>この投票の保存をキャンセルしました</h2>

      <ul>
        <% vote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    

  <div class="field">
    店名：<%= @shop.name %><br>
    住所：<%= @shop.address %>

  </div>
<% end %>
